.block {
  margin-top: 24px;
  height: 50vh;
  width: 100%;
  position: relative;
}

.blockNoDisplay {
  display: flex;
  justify-content: center;
}

.textNoDisplay {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
