.block {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  margin-top: 10%;
}

.title {
  font-weight: 700;
  font-size: 64px;
}

.subtitle {
  margin-top: 12px;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 500;
}

.link {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #2c3849;
  border: 3px solid #2c3849;
  color: #cec3ef;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.link:hover {
  background-color: #cec3ef;
  color: #2c3849;
}