.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 36px;
  background: #2c3849;
  border-radius: 3px;
  margin-top: 16px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.link {
  background: #2c3849;
  padding: 10px;
  max-width: 50%;
  width: 100%;
  text-decoration: none;
  color: #cec3ef;
  border-bottom: 2px solid #2c3849;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  font-weight: 700;
  height: 100%;
}
.link.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.link.image .svgIcon {
  width: 24px;
  height: 24px;
}
.link.active {
  border-bottom: 2px solid #fff;
}