.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  background: #2c3849;
  color: #cec3ef;
  padding: 8px;
  border-radius: 3px;
  transform: translateX(0px);
  transition: 0.3s all;

  &.delete {
    transform: translateX(150%);
  }
}

.content {
  display: flex;
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 18px;
  word-break: break-all;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttonDel {
  background: transparent;
  color: #2c3849;
  text-decoration: none;
  padding: 8px;
  border-radius: 3px;

  &:hover {
    .deleteIcon {
      transform: scale(0.82);
    }
  }

  .deleteIcon {
    transform: scale(0.8);
    transition: 0.3s all;
  }
}

.checkBox {
  width: 20px;
  height: 20px;
  background: #2c3849;
  border: 2px solid #cec3ef;
  border-radius: 3px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 16px;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    transform: scale(0);
    right: -110%;
    top: -110%;
    background: url("../../assets/svg/check.svg");

    transition: 0.3s all;
  }

  &.checkBoxActive {
    border: 2px solid #2c3849;

    &::after {
      transform: scale(0.5);
    }
  }

  transition: 0.3s all;
}

.favorite {
  margin-right: 12px;
  transform: scale(1);
  stroke: #cec3ef;
  fill: #cec3ef;
  cursor: pointer;
  transition: 0.3s all;

  &:hover {
    transform: scale(1.1);
  }

  &.favoriteActive {
    stroke: #f54c4c;
    fill: #f54c4c;
  }
}
